<!-- <nav class="sidebar-profile">
	<header>
		<div class="img-container">
			<img src="/assets/png/pfp.jpg" alt="Profile picture" />
		</div>
		<h2>Johcel Gene T. Bitara</h2>
		<h4>Web Developer</h4>
	</header>
	<ul class="social-link">
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fas fa-mobile-alt"></i>
				<span>1234 567 8910</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fas fa-globe-asia"></i>
				<span>Philippines, Bicol</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fab fa-github"></i>
				<span>https://github.com/genebit</span>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="fas fa-envelope"></i>
				<span>genebitara@gmail.com</span>
			</a>
		</li>
	</ul>
	<footer>
		<p>&copy; 2021 - Johcel Gene T. Bitara</p>
		<p>Hosted by <b>Github Pages</b></p>
	</footer>
</nav> -->
