@font-face {
	font-family: "SFMono Light";
	src: url("/assets/fonts/SFMonoLight.ttf");
}

@font-face {
	font-family: "SFMono Regular";
	src: url("/assets/fonts/SFMonoRegular.ttf");
}

@font-face {
	font-family: "SFMono Medium";
	src: url("/assets/fonts/SFMonoMedium.ttf");
}

@font-face {
	font-family: "SFMono SemiBold";
	src: url("/assets/fonts/SFMonoSemibold.ttf");
}

@font-face {
	font-family: "SFMono Bold";
	src: url("/assets/fonts/SFMonoBold.ttf");
}

@font-face {
	font-family: "SFMono Heavy";
	src: url("/assets/fonts/SFMonoHeavy.ttf");
}
