bin/
obg/
obj/project.nuget.cache
obj/project.assets.json
obj/genebit.github.io.csproj.nuget.g.targets
obj/genebit.github.io.csproj.nuget.g.props
obj/genebit.github.io.csproj.nuget.dgspec.json
obj/Debug/net5.0/staticwebassets/genebit.github.io.StaticWebAssets.xml
obj/Debug/net5.0/staticwebassets/genebit.github.io.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/ref/genebit.github.io.dll
obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/genebit.github.io.Views.pdb
obj/Debug/net5.0/genebit.github.io.Views.dll
obj/Debug/net5.0/genebit.github.io.TagHelpers.output.cache
obj/Debug/net5.0/genebit.github.io.TagHelpers.input.cache
obj/Debug/net5.0/genebit.github.io.RazorTargetAssemblyInfo.cs
obj/Debug/net5.0/genebit.github.io.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/genebit.github.io.RazorCoreGenerate.cache
obj/Debug/net5.0/genebit.github.io.RazorAssemblyInfo.cs
obj/Debug/net5.0/genebit.github.io.RazorAssemblyInfo.cache
obj/Debug/net5.0/genebit.github.io.pdb
obj/Debug/net5.0/genebit.github.io.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/genebit.github.io.genruntimeconfig.cache
obj/Debug/net5.0/genebit.github.io.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/genebit.github.io.dll
obj/Debug/net5.0/genebit.github.io.csproj.FileListAbsolute.txt
obj/Debug/net5.0/genebit.github.io.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/genebit.github.io.csproj.CopyComplete
obj/Debug/net5.0/genebit.github.io.csproj.AssemblyReference.cache
obj/Debug/net5.0/genebit.github.io.assets.cache
obj/Debug/net5.0/genebit.github.io.AssemblyInfoInputs.cache
obj/Debug/net5.0/genebit.github.io.AssemblyInfo.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
