* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
h1, h2, h3 {
    font-weight: 700;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    margin-left: 50px; 
    margin-right: 50px; 
    position: fixed; 
    bottom: 0; 
    width: 90%;
}

nav {
    color: rgb(185, 185, 185);
    box-shadow: 0px 0px 8px 0px;
    z-index: 1;
}

/* Transition */
.transition-page {
    /* Determines what will show before the fade in */
    opacity: 1;
    transform: none;
    transition: opacity 0.5s, transform 0.5s;
}

html.is-animating .transition-page {
    transform: scale(1.4);
    opacity: 0;
}

.card {
    box-shadow: 0px 0px 8px 0px #b3b3b3;
}

.project-link {
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    width: 100px;
    height: 45px;
    transition: width 0.5s, height 0.5s, background-color 1s;
}

.project-link:hover {
    width: 150px;
    height: 50px;
    background-color: rgb(127, 224, 82);
    cursor: pointer;
}
