* {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
h1, h2, h3 {
    font-weight: 700;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    margin-left: 50px; 
    margin-right: 50px; 
    position: fixed; 
    bottom: 0; 
    width: 90%;
}

nav {
    color: rgb(185, 185, 185);
    box-shadow: 0px 0px 8px 0px;
    z-index: 1;
}

.card {
    box-shadow: 0px 0px 8px 0px #b3b3b3;
}