<!DOCTYPE html>
<html lang="en">
	<head></head>
	<body>
		<nav class="sidebar-profile">
			<header>
				<div class="img-container">
					<img src="/assets/png/pfp.png" alt="Profile picture" />
				</div>
				<h5>Johcel Gene T. Bitara</h5>
				<h6 class="fw-semibold">Job Description</h6>
			</header>
			<ul class="social-link">
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fas fa-mobile-alt clr-accent"></i>
						<span>1234 567 8910</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fas fa-globe-asia clr-accent"></i>
						<span>Philippines</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="https://github.com/genebit" class="nav-link">
						<i class="fab fa-github clr-accent"></i>
						<span>https://github.com/genebit</span>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="fas fa-envelope clr-accent"></i>
						<span>genebitara@gmail.com</span>
					</a>
				</li>
			</ul>
			<footer>
				<p>&copy; 2021 - Johcel Gene T. Bitara<br />Hosted by <b class="clr-accent">Github Pages</b></p>
			</footer>
		</nav>
	</body>
</html>
