$sidebar-active-hvr: #294979;
$border-radius: 8px;
$panel-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);

$blue-100: #294a7b;
$blue-200: #1f3448;
$blue-300: #162678;
$blue-400: #0e0d1f;
$secondary-100: #643ba7;
$accent: #19c2b8;
$light: #ffffff;
$red: #bb3838;
$text-muted: #c8c8c8;

$color-palette: (
	blue-100: #294a7b,
	blue-200: #1f3448,
	blue-300: #162678,
	blue-400: #0e0d1f,
	secondary-100: #643ba7,
	accent: #19c2b8,
	light: #ffffff,
	red: #bb3838,
	text-muted: #8896ad,
);
@each $item, $value in $color-palette {
	.clr-#{$item} {
		color: $value;
	}
	.bg-#{$item} {
		background-color: $value;
	}
}
