$white: #ffffff;
$accent: #10bbb1;
$secondary: #643ba7;
$primary: #162678;
$panel: #1f3448;
$background: #0e0d1f;
$sidebar-active-hvr: #294979;
$bubble: #ccb8b8;
$border-radius: 0.75rem;
$panel-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);
