@font-face {
	font-family: SFMono;
	src: url(../../assets/fonts/SFMonoRegular.ttf);
}
:root {
	--font: SFMono, monospace;

	--light: #b3946d;
	--light-muted: #a56d53;
	--orange: #b85c38;
	--brown: #241710;
	--dark: #2d2424;

	--hero-color: #1f1818;
	--btn-outline-color: #0c0c0c;

	--gradient-hero: linear-gradient(to right, #201712, #382118, #201712);

	--selection-color: rgba(0, 0, 0, 0.3);
	--shadow-color: rgba(0, 0, 0, 0.3);

	--default-line-height: 1.5;
}
