:root {
	--font: 'SF Mono', monospace;

	--light: #e0c097;
	--orange: #b85c38;
	--brown: #5c3d2e;
	--dark: #2d2424;

	--btn-outline-color: #0c0c0c;

	--selection-color: rgba(0, 0, 0, 0.3);
	--shadow-color: rgba(0, 0, 0, 0.3);

	--default-line-height: 1.5;
}
