@import url('simple-grid.css');
@import url('ui.css');
@import url('colors.css');
::selection {
	background-color: var(--selection-color);
}
* {
	font-family: var(--font);
	color: var(--light);
	line-height: var(--default-line-height);
	padding: 0;
	margin: 0;
}
html,
body {
	background-color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--orange);
	font-weight: 800;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.375rem;
}
h4 {
	font-size: 1.125rem;
}
h5 {
	font-size: 1rem;
}
h6 {
	font-size: 0.875rem;
}
hr {
	border-color: var(--light);
}
li,
p {
	font-size: 0.9rem;
	font-weight: 200;
}
a,
a:hover {
	text-decoration: none;
	font-size: 0.85rem;
}
li {
	margin-bottom: 1.25rem;
}
header svg {
	position: absolute;
	width: 100%;
}
/* Font Icon */
.fi-sm {
	font-size: 20px;
}
.fi-md {
	font-size: 25px;
}
/* Font size */
.f-lg {
	font-size: 60px;
}
/* Font Colros */
.color-light {
	color: var(--light);
}
.color-orange {
	color: var(--orange);
}
.color-brown {
	color: var(--brown);
}
.color-dark {
	color: var(--dark);
}
/* Background Color */
.bg-light {
	background-color: var(--light);
}
.bg-orange {
	background-color: var(--orange);
}
.bg-brown {
	background-color: var(--brown);
}
.bg-dark {
	background-color: var(--dark);
}
.spacer {
	padding: 4rem 0;
}
.text-muted {
	color: var(--light-muted);
	font-weight: 600;
	font-size: 14px;
}
/* Debugging */
.debug {
	outline: 2px dashed rgba(255, 0, 0, 0.3);
}
@media screen and (max-width: 700px) {
	.spacer {
		padding: 1rem 0;
	}
}
